<div class="d-flex justify-content-center align-items-center">
    <div class="p-2">
        <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="this.User.name">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
            <input type="number" class="form-control" id="age" name="age" [(ngModel)]="this.User.year">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
            <input id="address" name="name" [(ngModel)]="this.User.owner" type="text" class="form-control" disabled>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-warning" type="button" (click)="getUser()">getUser</button>
            <button class="btn btn-warning" type="button" (click)="setUser()">setUser</button>
        </div>
    </div>
</div>