<div class="nav-container">
  <div class="main-logo">
    <img src="../../../assets/HoneyPot Icon Pack/017-honey.svg" alt="Main Logo" style="width: 100%;">
  </div>
  <div class="navigation-column-bar">
    <ul class="list-group">
      <li class="list-group-item text-center bg-gold" style="border: 0px solid transparent;">
        <div class="border">
          <i class="fas fa-file-invoice fs-4" style="margin: 27px 5px 27px 5px;"></i>
        </div>
        <p style="margin-top: 0.5rem; font-size: 14px; margin-bottom: 0;">Portfolio</p>
      </li>
      <li class="list-group-item text-center bg-gold" style="border: 0px solid transparent;">
        <div class="border">
          <i class="fas fa-globe-asia fs-4" style="margin: 27px 5px 27px 5px;"></i>
        </div>
        <p style="margin-top: 0.5rem; font-size: 14px; margin-bottom: 0">Explore</p>
      </li>
      <li class="list-group-item text-center bg-gold" style="border: 0px solid transparent;">
        <div class="border">
          <i class="fab fa-hubspot fs-4" style="margin: 27px 5px 27px 5px;"></i>
        </div>
        <p style="margin-top: 0.5rem; font-size: 14px; margin-bottom: 0">Hub</p>
      </li>
    </ul>
  </div>

  <hr />

  <div class="link-column-bar">
    <ul class="list-group">
      <li class="list-group-item text-center bg-gold" style="border: 0px solid transparent;">
        <div class="button-twitter">
          <i class="fab fa-twitter fs-3" style="margin: 24px 5px 24px 5px;"></i>
        </div>
      </li>
      <li class="list-group-item text-center bg-gold" style="border: 0px solid transparent;">
        <div class="button-discord">
          <i class="fab fa-discord fs-3" style="margin: 24px 5px 24px 5px;"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
